* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.glyph-container {
  display: flex;
  justify-content: space-around;
}
.glyph {
  background: #333;
  color: #fff;
  font-size: 1.4rem;
  cursor: pointer;
  padding: 1.5rem 2rem;
}
.clicked-glyphs {
  display: flex;
  justify-content: space-around;
}
